


h1 {
    color:lightblack;
    font-size: 40px;
}

body{
    background: #e0dddd;
}




    .flash-message.error {
        color: #721c24;
        background-color: #f8d7da;
        border-color: #f5c6cb;
    }

