<!DOCTYPE html>
<html lang="en">
<head>

    <title>Student Details</title>
</head>
<body>
    <table border = "2" id = "student-details-table">
 <tr>
 <th>Student Id</th>
 <th>Course Id</th>
 <th>Marks</th>
 </tr>
 <tr>
 <td>student_id_data</td>
 <td>course_id_data</td>
 <td>marks_data</td>
 </tr>
 ...
 ...
 ...
 <tr>
 <td>student_id_data</td>
 <td>course_id_data</td>
 <td>marks_data</td>
 </tr>
 <tr>
 <td colspan = "2" style="text-align:center"> Total Marks </td>
 <td>total_marks_data</td>
 </tr>
 </table> 
</body>
</html>